<div class="row {translationUnit.class}">
	<div class="span5">
	<f:if condition="{translationUnit.perfetto}">
		<span class="label label-success">Translated</span>
	</f:if>
	<f:if condition="{translationUnit.originalModified}">
		<span class="label label-warning">Modified</span>
	</f:if>
	<f:if condition="{translationUnit.nonTranslated}">
		<span class="label label-important">NEW</span>
	</f:if>
		From:<br />
		{translationUnit.source}
	</div>
	<div class="span5">
		<f:if condition="{translationUnit.originalModified}">
			<f:then>
				Old-Original: {translationUnit.originalSource}<br />
				To:<br />
				{translationUnit.target}
			</f:then>
			<f:else>
				To:<br />
				{translationUnit.target}
			</f:else>
		</f:if>
	</div>
</div>
