{namespace xliffTranslator=Mrimann\XliffTranslator\ViewHelpers}

<f:layout name="Default" />

<f:section name="Title">Let's translate {packageKey}</f:section>

<f:section name="Content">
	<p>PackageKey: <b>{packageKey}</b></p>

	<div class="row">
		<xliffTranslator:flashMessages />
	</div>

	<f:for each="{sourceNames}" as="source">
		<f:for each="{languages}" as="editLang">
			<li>
				<f:link.action action="edit" arguments="{packageKey: packageKey, sourceName: source, editLang: editLang}">
					Edit "{source}" in "{editLang}"
				</f:link.action>
			</li>
		</f:for>
		<f:for each="{languages}" as="fromLanguage">
			<f:for each="{languages}" as="toLanguage">
				<f:if condition="{0: toLanguage} != {0: fromLanguage}">
					<li>
						<f:link.action action="translate" arguments="{packageKey: packageKey, sourceName: source, fromLang: fromLanguage, toLang: toLanguage}">
							Translate "{source}" from "{fromLanguage}" to "{toLanguage}"
						</f:link.action>
					</li>
				</f:if>
			</f:for>
		</f:for>
	</f:for>
</f:section>